/* main.css */
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background-color: #FE5F1E;
}
nav li:last-child a:hover {
  background-color: #b23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background-color: #f8f8f8;
}

.size {
  background: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background-color: #FE5F1E;
  border-color: #fff;
  color: #fff;
}

.cart {
  background-color: #f8f8f8;
}
.cart .amount {
  color: #FE5F1E;
}
.cart .img-cart {
  color: #232323;
}

.btn-primary {
  background-color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: #b23301;
}

.login-page {
  background-color: #f8f8f8;
  min-height: calc(100vh - 100px);
}
